#protected-route-container-menus {
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: $neutral-100;
  overflow: hidden;
}

#protected-route-container {
  width: 100%;
  flex: 1;
  display: flex;
  padding: $spacing-16;
  overflow: hidden;
}

#protected-route-content {
  width: 100%;
  flex: 1;
  flex-direction: column;
  padding-left: $spacing-16;
}

#protected-route-content-export-pdf {
  max-width: 1400px;
  min-width: 1400px;
  flex: 1;
  flex-direction: column;
  padding-left: $spacing-16;
}
