.panel-container {
  padding: $spacing-4 $spacing-8;
  border-radius: $border-radius-md;
  background-color: $neutral-50;
  box-shadow: $elevation-100;
  width: 100%;
}

.panel-content {
  row-gap: $spacing-8;
  width: 100%;
}

.panel-header {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.panel-header-left-container {
  flex-direction: row;
  align-items: center;
}

.panel-arrow-icon {
  height: 1.25rem;
}

.panel-header-title {
  font-size: var(--font-size-medium);
  font-weight: 600;
  line-height: 1.4;
  color: var(--black-900);
}

.panel-right-icon-button {
  margin-left: $spacing-8;
}

.panel-header-right-container {
  display: flex;
  flex-direction: row;
  column-gap: $spacing-4;
  align-items: center;
}
