.alert-message-container {
  display: flex;
  flex-direction: row;
  width: auto;
  padding: 1rem;
  border-radius: var(--border-radius-200);
  border: var(--border-error);
  background-color: var(--red-100);
  column-gap: 0.75rem;
}

.alert-message-container-success {
  border: var(--border-success);
  background-color: var(--green-100);
}

.alert-message-icon {
  width: 1.25rem;
}

.alert-message-icon-container {
  column-gap: 0.75rem;
  height: fit-content;
}

.alert-message-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  row-gap: 0.25rem;
}

.alert-message-title {
  font-weight: 600;
  color: var(--red-800);
  font-size: 1rem;
  line-height: 1.3;
}

.alert-message {
  font-weight: 400;
  color: var(--red-800);
  font-size: 1rem;
  line-height: 1.3;
}

.alert-texts-success {
  color: var(--green-800);
}
