.card-info-container {
  display: flex;
  flex-direction: row;
  column-gap: $spacing-4;
}

.card-info-icon-container {
  width: $spacing-22;
  height: $spacing-22;
  border-radius: $border-radius-md;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-info-content {
  display: flex;
  flex-direction: column;
  row-gap: $spacing-1;
}
