.input-width-field-110 {
  min-width: 6.875rem;
}

.input-width-field-130 {
  min-width: 8.125rem;
}

.input-width-field-140 {
  min-width: 8.75rem;
}

.input-width-field-150 {
  min-width: 9.125rem;
}
