.select-multiple-files-container {
  flex-direction: column;
  padding: $spacing-12;
  border-width: 2px;
  border-color: $neutral-400;
  border-radius: $border-radius-sm;
  border-style: dashed;
  align-items: center;
}

.select-multiple-files-text {
  color: $neutral-700;
  margin-bottom: $spacing-8;
}

.select-multiple-files-input-file {
  display: none;
}
